@media  screen and (min-width: 663px) {
    .side-bar {
        flex-basis: 250px;
    }

    .first-logo {
        display: none;
    }

    .side-bar {
        padding: 15px 15px;
    }

    .hidden {
        display: inline-block;
    }

    .small-logo,.f-small-logo {
        max-width: 15%;
        display: inline-block;
    }

    .logos li,.side-footer {
        text-align: start;
    }

}

@media  screen and (min-width: 878px) {
    .cards {
        flex-basis: calc(100% / 4 - 3rem / 4);
    }
}

@media  screen and (min-width: 1200px) {
    .cards {
        flex-basis: calc(100% / 6 - 5rem / 6);
    }
}