/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */

body {
    font-family: sans-serif;
}

footer {
    height: 80px;
}

main {
    height: calc(100vh - 80px);
    overflow: auto;
    display: flex;
}

.header {
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.side-bar {
    flex-basis: 200px;
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    position: relative;
    overflow: auto;
}

/* Utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.border {
    border: 1px black solid;
}